html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Gulp materilize starter
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // Import Devicons
    link(href='//cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css', rel='stylesheet')
    // Import Roboto
    link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
    // Import Material Icons
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    // build:css css/styles.min.css
    link(rel='stylesheet', type='text/css', href='css/materialize.css')
    link(rel='stylesheet', type='text/css', href='css/styles.css')
    // endbuild
  body
    p Don't change the comments at the end of head section(starts with 'build', ends with 'endbuild'). Add links to your css files to the list, between this comments.
    p Don't change the comments below. Do the same as with css files - add references to your js files.
  
    // build:js js/main.min.js
    script(src='js/jquery.js')
    script(src='js/materialize.js')
    script(src='js/main.js')
    // endbuild
